<ion-header class="bg-gradient-to-r from-indigo-700 to-purple-700">
  <ion-toolbar>
    <ion-title class="text-white font-bold text-xl">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-page" scroll="false">
  <div class="profile-header">
    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture" class="profile-avatar" />
    <h2 class="username">Vishnu Prakash</h2>
    <p class="email">vishnu&#64;gmail.com</p> <!-- Using &#64; for @ -->
  </div>

  <ion-list class="profile-options">
    <ion-item routerLink="/edit-profile">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </ion-item>

    <ion-item routerLink="/my-bookings">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>My Bookings</ion-label>
    </ion-item>

    <ion-item routerLink="/settings">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>

    <ion-item button (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
